<div class="wrapper" >
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/home1.png');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title" style="font-size: 700%;">FInCoF</h1>
                <div class="text-center">
                    <h3 class="title">Freelance | Internships | Co-Founders </h3>
                  <!--<a href="https://www.facebook.com" class="btn btn-primary btn-icon btn-round" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                  <a href="https://www.twitter.com" class="btn btn-primary btn-icon btn-round" target="_blank">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-google-plus"></i> 
                  </a> -->
                </div> 
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">About Us</h2>
                    <div class="separator separator-primary"></div>
                    <p class="blockquote blockquote-primary">
                        We at E-Cell IIT Bombay, through this initiative, aim to bridge the gap between students and startups. FInCoF(Freelancers, Interns and CoFounders) connects startups across the country with the students of IIT Bombay. Each startup listed on this portal offers a role in their company, for students with the same vision and passion. 
                        <br>This platform with over 100+ startups onboard offers students the opportunity to interact with the ever-growing startup ecosystem and for the startups to benefit from the expertise and skills of the students. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section" style="background-color:#F4F4F4 ;">
        <div class="container">
            <h2 class="title text-center">Why FInCoF?</h2>
            <div class="separator separator-primary"></div>
            <div class="row" style="justify-content: center;">
                    <div class="col-md-4" style="background-color: white;">
                        <p class="description">With a variety of sectors and a multitude of startups, we present to the students of IIT Bombay a great opportunity to learn, grow and connect! Register here to join a startup and achieve new peaks!

                    </div>
                    <div class="col-md-4" style="background-color: white;">
                        <p class="description">With a variety of sectors and a multitude of startups, we present to the students of IIT Bombay a great opportunity to learn, grow and connect! Register here to join a startup and achieve new peaks!

                    </div>
            </div>
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Categories for FInCoF</h2>
            <div class="separator separator-primary"></div>
            <div style=" position: relative;
            background-color: #F4F4F4;
            padding: 40px 20px;
            margin: 15px 0px;">
                <div class="row" style="justify-content: center;">
                    <div class="col-md-5">
                        <div class="team-player">
                            <img src="assets/img/icon11.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" >
                            <h4 class="title">Freelance and Internships</h4>
                            
                            <p class="description">With a variety of sectors and a multitude of startups, we present to the students of IIT Bombay a great opportunity to learn, grow and connect! Register here to join a startup and achieve new peaks!

                            <!-- <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a> -->
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="team-player">
                            <img src="assets/img/icon22.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Co-Founders</h4>
                            
                            <p class="description">FInCoF presents a diverse portfolio of startups from a vast array of sectors. Register here to join a startup as a cofounder and take it to new heights!

                               
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
    
    <div class="section section-contact-us text-center" style="background-color: #FAFAFA">
        <div class="container">
            <h2 class="title" style="font-size:xxx-large;">CONTACT US</h2>
            <p class="description">Any trouble or comments? Don't hesitate in reaching to us!</p>
            <div class="separator separator-primary"></div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team pr-team" style="background:inherit!important">
                        <div class="overlay"></div>
                        <div class="team-img" style="text-align:center;">
                            <img src="assets/img/Tavishi.png">
                        </div>
                        <div class="team-content team-content-2">
                            <a href="https://www.linkedin.com/in/navoday-garwal-68a09a170/" target="_blank">
                                <h3>Navoday Garwal</h3>
                            </a>
                            <a style="text-transform:lowercase!important; font-size: 1em;  color: #868F9B" href="mailto:navoday@ecell.in">navoday@ecell.in</a><br>
                            <a style="text-transform:lowercase!important; font-size: 0.9em;  color: #868F9B" href="tel:+919818204454">+91 9818204454</a>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team pr-team" style="background:inherit!important">
                        <div class="overlay"></div>
                        <div class="team-img" style="text-align:center;">
                            <img src="assets/img/Shubhanshi.png">
                        </div>
                        <div class="team-content team-content-2">
                            <a href="https://www.linkedin.com/in/navoday-garwal-68a09a170/" target="_blank">
                                <h3>Navoday Garwal</h3>
                            </a>
                            <a style="text-transform:lowercase!important; font-size: 1em;  color: #868F9B" href="mailto:navoday@ecell.in">navoday@ecell.in</a><br>
                            <a style="text-transform:lowercase!important; font-size: 0.9em;  color: #868F9B" href="tel:+919818204454">+91 9818204454</a>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team pr-team" style="background:inherit!important">
                        <div class="overlay"></div>
                        <div class="team-img" style="text-align:center;">
                            <img src="assets/img/Sudhanshu.png">
                        </div>
                        <div class="team-content team-content-2">
                            <a href="https://www.linkedin.com/in/navoday-garwal-68a09a170/" target="_blank">
                                <h3>Navoday Garwal</h3>
                            </a>
                            <a style="text-transform:lowercase!important; font-size: 1em;  color: #868F9B" href="mailto:navoday@ecell.in">navoday@ecell.in</a><br>
                            <a style="text-transform:lowercase!important; font-size: 0.9em;  color: #868F9B" href="tel:+919818204454">+91 9818204454</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <footer class="footer footer-default">
 
        <div class="container" style="text-align: center;">
            
                  <div class="text-primary font-weight-light mb-2" >
                <h3 style="margin-bottom: 0px;">Student Activity Centre,<br>IIT Bombay,<br>Mumbai, India.<br><a href="tel:02225764044">022 2576 4044</a></h3>
            </div>
              
              
                <a target="_blank" href="https://twitter.com/creativetim" class="btn btn-icon btn-round btn-twitter" style="background-color: whitesmoke;" ngbTooltip="Follow us">
                  <i class="fab fa-twitter"></i>
                </a>
                <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-icon btn-round btn-facebook" style="background-color: whitesmoke;" ngbTooltip="Like us">
                  <i class="fab fa-facebook"></i>
                </a>
                <a target="_blank" href="https://dribbble.com/creativetim" class="btn btn-icon btn-round btn-linkedin" style="background-color: whitesmoke;" ngbTooltip="Follow us">
                  <i class="fab fa-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/creativetimofficial" class="btn btn-icon btn-round" style="background-color: whitesmoke;color: black;" ngbTooltip="Follow us">
                  <i class="fab fa-instagram"></i>
                </a>
                <a target="_blank" href="https://github.com/creativetimofficial" class="btn btn-icon btn-round btn-youtube" style="background-color: whitesmoke;" ngbTooltip="Subscribe us">
                    <i class="fab fa-youtube"></i>
                  </a>
              
            
            <hr>
            <div class="copyright" >
                 By Web team {{data | date: 'yyyy'}}, E-cell IIT Bombay 
            </div>
        
          </div>
    </footer>
</div>
